.sagepayserver-token {
    border-bottom: solid 1px #00000020;
         align-items: center;
         display: flex;
         padding: 0 2.5em 0 2.5em;
         width: 100%;

         &-p{
             width: 70%;
             padding-top: 5px;
             width: 70%;
             text-align: left;
             padding-left: 1em;
             margin: 0;
            }

            &-delete {
                width: 20%;
                display: flex;
                justify-content: right;
            }

            .Field {
                margin-top: 0;
            }
}

.Image_ratio {
    &_custom-sagepay-card {
    width: 20%;
    height: 25px;
    }
}
